<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <style type="text/css">
        	.wph
        	{
        		display: none;
        	}
        	.loadError
        	{
        		padding: 5px;
        		margin: 5px;
        		background: #c00;
        		color: #fff;
        	}
        	<%=style%>
        </style>
        <script type="text/javascript" src="<%=prefix%>/boot"></script>
        <%=extScript%>
        <script type="text/javascript">
        	<%=script%>
        </script>
    </head>
    <body>
        <%=body%>
    </body>
</html>
