<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<% if(aggStyle) { %>
			<link rel="stylesheet" href="<%=prefix%>/agg/<%=aggStyle%>.css" type="text/css" media="screen" charset="utf-8"/>
		<% } %>
		<% if(inlineStyle && inlineStyle.match(/\S/)) { %>
			<style type="text/css">
				<%=inlineStyle%>
			</style>
		<% } %>
		<script type="text/javascript" src="<%=prefix%>/boot"></script>
		<%=extScript%>
		<% if(aggScript) { %>
			<script type="text/javascript" src="<%=prefix%>/agg/<%=aggScript%>.js"></script>
		<% } %>
		<% if(inlineScript && inlineScript.match(/\S/)) { %>
			<script type="text/javascript">
				<%=inlineScript%>
			</script>
		<% } %>
	</head>
	<% if(widget.rootTagName != "body") { %><body><% } %>
		<%=body%>
	<% if(widget.rootTagName != "body") { %></body><% } %>
</html>
