<!DOCTYPE html>
<html lang="<%=lang%>">
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="<%=aggStyleUrl%>" type="text/css" media="screen" charset="utf-8"/>
		<%=head%>
	</head>
	<% if(widget.rootTagName != "body") { %><body><% } %>
		<%=body%>
	<% if(widget.rootTagName != "body") { %></body><% } %>
	<% if(jQueryCDN) { %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<% } %>
	<%=extScript%>
	<script type="text/javascript" src="<%=aggScriptUrl%>"></script>
</html>
